/* body{
    
    background-image: url('../Flights/Image/signupsigninbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
   
} */
/* .card
{
  
  background-image: url('../Flights/Image/signupsigninbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
} */

/* Full-width input fields */
input[type=email], input[type=password], input[type=text], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

.form-group
{
    width:50%;
}
/* Set a style for all buttons */
button {
  background-color: #3b8a55;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #2a2222;
}

.signupbtn {
  padding: 14px 20px;
  background-color: #034934;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 25%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}


.formcontainer {
  background-color: #fefefe; 
  margin-top: 5%;
  margin-left: 10%;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height:100%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width:50%;
}

.submit>a{
  text-decoration: none;
  color: #fff !important;
}
 



.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
